
.footerMainContainer {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    background-color: black;
}

.Nav1 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    color: white;
}


.socialIcons {
    display: flex;
    padding: 
}