.GoogleMaps1MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #008CBA;
}

.mapTopBar {
    text-align: center;
    color: white;
}

.searchText {
    text-align: center;
    color: white;
}

.searchItems {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    padding: 0 30px;
    color: white;
    border: 1px solid white;
}