.loginMainContainer {
    width: 100%;
}

.loginWrapper {
    background-color: rgb(228, 233, 238);
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;    
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* ---------- regLeftSide ---------- */

.loginLeftSide {
    background-image: url("./../assets/HappyHourPics/welcomeback.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.loginLogo {
    color: white;
    font-family: 'Lakki Reddy', cursive;
    font-size: 80px;
    font-weight: bold;
    margin: 1vw 0 0 2vw;
}

/* ---------- regRightSide ---------- */

.loginRightSide {
    align-content: center;
    background-color: rgb(228, 233, 238); 
    display: flex;
    flex-direction: column;
    margin: 2vw 0;
}

a.loginHouse {
    color: royalblue;
    font-size: 64px;
    margin: 2vw 4vw 0 0;
    padding: 0;
    text-align: right;
}

.loginForm {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    padding: 0;
    width: 50%;   
}

.loginForm input {
    font-size: 1vw;
    font-weight: bold;    
    margin: 10px;
    padding: 10px 0px 10px 10px;
}

.loginPleaseSignIn {
    font-size: 2vw;
    font-weight: bold;    
    margin: 40px 0 40px 0;
    text-align: center;
}

.pred {
    color:red;
    font-size: 15px;
    margin:0 10px;
}

/* ----- loginBottom ----- */

.loginBottom {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.loginButton {
    background-color: #008CBA; /* Blue */
    border-radius:7px;
    /* border:1px solid #dcdcdc; */
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family:Arial;
    font-size: 1vw;
    font-weight:bold;
    margin: .5vw .3vw;
    padding: .6vw .9vw;
    text-align: center;
    text-decoration: none;
    /* text-shadow:0px 1px 0px #ffffff; */
}
.loginButton:hover {
    background:linear-gradient(to bottom, yellow 5%, orange 100%);
    background-color:#f6f6f6;
}
.loginButton:active {
    position:relative;
    top:1px;
}
    /* ----- loginBottomRight ----- */

.loginBottomRight {
    display: flex;
}

.loginToRegistration {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius:7px;
    /* border:1px solid #dcdcdc; */
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1vw;
    font-weight:bold;
    margin: .5vw .3vw;
    padding: .6vw .9vw;
    text-align: center;
    text-decoration: none;
    /* text-shadow:0px 1px 0px #ffffff; */
    }
.loginToRegistration:hover {
    background:linear-gradient(to bottom, yellow 5%, orange 100%);
    background-color:#f6f6f6;
}
.loginToRegistration:active {
    position:relative;
    top:1px;
}

/* ----- */

.loginRegistrationValidation {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.loginSpaceHolder {
    margin: 0;
    padding: 0;
}

.loginValText {
    font-size: .8vw;
    color: red;
    margin: 0 0 0 10px;
    padding: 0;
}

.loginToTheOtherFormText {
    font-size: 1vw;
    margin: 0 10px 0 0;
    padding: 0;
}

/* ********** Responsive Design ********** */

@media screen and (max-width: 1000px) {

    .loginLogo {
        color: white;
        font-size: 7vw;
        margin: 4vw;
        padding: 0;
        text-align: center;
    }

    .loginForm {
        width: 80%;   
    }

    .loginBottom {
        display: block;
        margin: 0 auto;
    }

    .loginButton {
        display: inline-block;
        font-family:Arial;
        font-size: 1vw;
        font-weight:bold;
        margin: 1vw .3vw 3vw;
        padding: .6vw .9vw;
        text-align: center;
        text-decoration: none;
    }

    .loginBottomRight {
        display: flex;
        justify-content: center;
        margin: 0 0 1vw 0;
        padding: 0;
    }

    .loginToRegistraction {
        margin: 0 auto;
    }

    .loginRegistrationValidation {
        display: block;
        margin: 0 auto;
        padding: 0;
    }

}