html {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footerWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* position: absolute; */
  background: rgb(46, 41, 37);
  padding-bottom: 10px;
}

.footerWrapper h2 {
  color: rgb(91, 91, 91);
  text-align: center;
}

/* ---------- footerLinks Section 1 ---------- */

.footerLinks {
  display: flex;
  flex-direction: column;
}

.footerLinks a {
  padding-left: 50px;
  margin: 5px 0px 5px 0px;
  color: rgb(148, 136, 122);
}

/* ---------- footerAddress Section 2 ---------- */

.footerAddress p {
  padding-left: 50px;
  color: rgb(148, 136, 122);
}

/* ---------- footerPhone Section 3 ---------- */

.footerPhone p {
  padding-left: 50px;
  color: rgb(148, 136, 122);
}

/* ---------- footerSocial Section 4 ---------- */

.socialWrapper {
  display: flex;
  justify-content: center;
}

.socialWrapper a {
  height: 30px;
  width: 30px;
  font-size: 20px;
  margin: 10px;
  line-height: 1.5;
  color: #cccc;
  text-align: center;
  border-bottom: 4px solid#C0c0c0;
}

/* Facebooke */
.socialWrapper > a:nth-child(1) {
  background-color:rgb(58,79,138);
}
/* Instagram */
.socialWrapper > a:nth-child(2) {
  background-color: rgb(196,130,51);
}
/* Twitter */
.socialWrapper > a:nth-child(3) {
  background-color: rgb(94,132,190);
}
/* YouTube */
.socialWrapper > a:nth-child(4) {
  background-color: rgb(167,45,33);
}
/* Yelp */
.socialWrapper > a:nth-child(5) {
  background-color: rgb(167,45,33);
}
/* Pinterest */
.socialWrapper > a:nth-child(6) {
  background-color: rgb(167,45,33);
}

/* ---------- footerLinks Section 4 ---------- */

.footerNewsLetter {
  display: flex;
  flex-direction: column;
}

.footerNewsletter p {
  padding-left: 50px;
  color: rgb(148, 136, 122);
}

.subsEmail {
  width: 250px;
  padding-left: 10px;
  color: blue;
}
.subsForm {
  padding-left: 60px;
}
.emailRequired {
  color: rgb(148, 136, 122);
}
