<<<<<<< HEAD:client/src/styles/QRgenerator.css
.qrGeneratorContainer {
=======
/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
>>>>>>> master:client/src/styles/ainhoacss/QRgenerator.css
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}
.qrbox {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-row-gap: 10px;
}
.qrImg {
    height: 300px;
    width: 100%;
    padding: 1rem;
    border: 2px solid #BADA55;
    border-radius: 0.5rem;
    grid-column: 1 / -1;
}
.qrTextarea {
    outline: none;
    height: 100px;
    padding: 1rem;
    border: 2px solid #BADA55;
    border-radius: 0.5rem;
    grid-column: 1 / -1;
}
.qrBtn {
    font-size: 1rem;
    border: none;
    outline: none;
    background-color: #BADA55;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: background-color 0.2s;
}
.qrBtn:hover {
    background-color: #A4BE4B;
} */
