html {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* GOOGLE PINS */
.pinContainer {
  width: 50px;
  /* height: 35px; */
  background-color: pink;
  padding: 15px 10px;
  display: inline-flex;
  border-radius: 100%;
  text-align: center;
  justify-content: center;
  /* transform: translate(-50%, -50%); */
  position: relative;
}

.showpindesc {
  position: absolute;
  width: 180px;
  height: 30px;
  height: 200px;
  color: white;
  transform: translate(-20%, -20%);

  /* left:10px;
top:25px; */
  background-color: black;
  border: 8px solid green;
}

.pinImg {
  width: 100px;
}
