html {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 40px;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


footer{
  position: absolute;
  width:100%;
  bottom:0;
}

.pics {
  border: 1px solid green;
  margin: auto;
  width: 200px;
  height: 200px;
}
