html {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  margin-bottom: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footerWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* position: absolute; */
  background: rgb(46,41,37);
}

.footerWrapper h2 {
  color: rgb(91,91,91);
  text-align: center;
}

/* ---------- footerAddress Section 1 ---------- */

.footerAddress p {
  padding-left: 50px;
  color: rgb(148,136,122);
}

/* ---------- footerPhone Section 2 ---------- */

.footerPhone p {
  padding-left: 50px;
  color: rgb(148,136,122);
}

/* ---------- media Section 3 ---------- */

ul.social {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.social li {
  margin: 5px 15px;
  border: 1px solid white;
  background-color: white;
  color: rgba(124, 26, 86, 0.8);
  width: 60px;
  height: 60px;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px;
}

.social a li.fb {
  color: #4267b2;
}
.social a li.fb:hover {
  background: #4267b2;
  color: white;
}
.social a li.rss {
  color: #ee802f;
}
.social a li.rss:hover {
  background: #ee802f;
  color: white;
}
.social a li.tw {
  color: #1da1f2;
}
.social a li.tw:hover {
  background: #1da1f2;
  color: white;
}
.social a li.yt {
  color: #ff0000;
}
.social a li.yt:hover {
  background: #ff0000;
  color: white;
}

.social a li.yelp {
  color: #c41200;
}
.social a li.yelp:hover {
  background: #c41200;
  color: white;
}
.social a li.pint {
  color: #bd081c;
}
.social a li.pint:hover {
  background: #bd081c;
  color: white;
}

a {
  text-decoration: none;
}

/* ---------- footerLinks Section 4 ---------- */

.footerLinks {
  display: flex;
  flex-direction: column;
}

.footerLinks a {
  padding-left: 50px;
  margin: 5px 0px 5px 0px;
  color: rgb(148,136,122);
}

/* ---------- footerLinks Section 4 ---------- */

.footerNewsLetter {
  display: flex;
  flex-direction: column;
}

.footerNewsletter p {
  padding-left: 50px;
  color: rgb(148,136,122);
}