html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

/* ---------- GmapMainContainer ---------- */

.mapContainer1 {
    border: 1px solid black;
    height:100vh;
    width:100%;
}

/* GOOGLE PINS */
.mapContainer1{
position: relative;
}

.mapContainer1>div:first-child
{
    margin:0;
    border:2px solid #444;
}

.pinContainer{
    width:50px;
    padding: 15px 10px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}

.pinImg{
    width: 30px;
    }
    


.showpindesc{
position: absolute;
width:220px;
color:black;
transform: translate(-20%, -20%);
top:-330px;
left:-650px;


padding: 0;
background-color: white;
border-top-left-radius: 5px;
border-top-right-radius: 5px; 
}


.cardImg img{
    width:220px;
    margin:0px;
    padding: 0;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
}

.cardImg{
    margin: 0;
    padding: 0;
    height: 100px;
}
.cardName{
    border:1px solid black;
    border-top:none;
    margin:0px;
    padding: 0 10px;
    font-size: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    
}
.cardName h2{
    font-weight: bold;
    padding: 10px 0 2px 0;
    margin: 0;
    text-transform: capitalize;

}
.cardName p:nth-child(3){
    margin: 0;
    padding: 0;
}
.cardBold{
    font-weight: bold;
}
/* GOOGLE PINS */

@media screen and (max-width: 1200px) {

    .mapContainer1 {
        height:65vh;
    }


.showpindesc{
top:-180px;
left:-250px;
    
}

}  