html, body {
    margin: 0;
  }
  
  .banner {
    background-image: url("./../assets/HappyHourPics/bannerPic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative;  
    width: 100vw;
  }
  
  /* ----- bannerTop ----- */
  
  .bannerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
  
  .bannerLogo {
    color: white;  
    font-family: 'Lakki Reddy', cursive;
    font-size: 6vw;
    font-size: 6hw;
    margin: 2vh 0 0 2vw;
    padding: 0;
  }
  
  .nav {
    display: inline-block;
    margin: 2vh 2vw 0 0;
    padding: 2vh 0 0 0;
  }
  
  .bannerSignUp {
    background-color: #008CBA; 
    border-radius:7px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family:Arial;
    font-size: 1.5vmax;
    font-weight:bold;
    padding: 1.5vh 1.5vw;
    text-align: center;
    text-decoration: none;
  }
  .bannerSignUp:hover {
    background:linear-gradient(to bottom, yellow 5%, orange 100%);
    background-color:#f6f6f6;
  }
  .bannerSignUp:active {
    position:relative;
    top:.1vh;
  }
  
  .bannerLogIn {
    background-color: #b800e6;
    border-radius:7px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family:Arial;
    font-size: 1.5vmax;
    font-weight:bold;
    margin-left: 2vw;
    padding: 1.5vh 1.5vw;
    text-align: center;
    text-decoration: none;
  }
  .bannerLogIn:hover {
    background:linear-gradient(to bottom, yellow 5%, orange 100%);
    background-color:#f6f6f6;
  }
  .bannerLogIn:active {
    position:relative;
    top:1vh;
  }
  
    /* ----- bannerBottom ----- */
  
.bannerMessage {
  color: white;
  font-size: 6vw;  
  margin: 0 0 0 2vw;
}

.bannerMessageDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bannerGoBtn {
  background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
  background-color:#b8e356;
  border:.5vw solid #83c41a;
  border-radius: 20%;
  box-shadow:inset .05vh .25vw .75vh -.25vw #d9fbbe;
  box-shadow: 5px 10px black;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial;
  font-size: 5vw;
  font-weight:bold;
  margin: 0 5vw 0 0;
  padding: .25vw .5vw;
  text-decoration:none;
  text-shadow: 0 .2vw .15vh #86ae47;

}

.bannerGoBtn:hover {
  background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
  background-color:#a5cc52;
}
.bannerGoBtn:active {
  position:relative;
  top:.05vw;
}

.bannerTagLine {
  color: white;
  font-size: 3vw;
  font-style: italic;  
  margin: .5vh 0 3vmax 2vw;
}
