html {
    box-sizing: border-box;
    min-height: 100%;
    position: relative;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    border:none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  


.singlePageViewMainContainer {
    width: 100%;
    
    /* background-color: pink;; */
}

a{
    text-decoration: none;
    color:black;
}
.singleContent{
    width:100%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display:grid; */
    /* grid-template-columns: 3fr 1fr; */
}

.singleContent div{
}

.svpLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:50%;
    margin: 0;
    background-color:#fff;

}
.topLeftsvp{
/* background-color:rgb(112, 126, 112); */

}

.topLeftsvp h1{
    font-size: 3vw;
    width:100%;
    color:white;
    margin:0 0 0 0;
    padding:1.2vw 0;
    /* border: 1px solid blue; */
    text-align:center;
    background: -webkit-linear-gradient(to right, #4B134F, #C94B4B); 
    background: linear-gradient(to right, #4B134F, #C94B4B); 
}
.topLeftsvp p, .middleLeftsvp p{
    font-size: 1.5vw;
    margin:0;
    padding: 1vh 1vw;
    color:black;
    /* margin: 1vh 1vw;  */
}

.svpInfo{
    margin:2vh 0;
}

.middleLeftsvp{
    /* background-color: #835b5bbe;  */
    margin:0;
    display: flex;
    flex-direction: column;

}

.middleLeftsvp .mapContainer{
    padding: 0;
    /* margin:0.7vh auto; */
    margin: 0;;
    width:100%;
    height: 50vh;

}

.middleLeftsvp>div.mapContainer>div:first-child
{
    /* margin:30px; */
    margin:0;
    /* border:2px solid #4B134F; */
    
}



.topLeftsvp.gmnoprint{
    display: none;
}




.boldP{
    font-weight: bold;
}

.topRightsvp{
    /* background-color: blue; */
    width:50%;
    margin:0;
    padding: 0;
    background-color: black;
    /* border:1px solid green; */

}

.svpImg{
    width:100%;
    margin:0;
    padding: 0;
    object-fit: cover;
    /* border: 1px solid greenyellow; */
}
